*{
    margin: 0; /* Elimina los márgenes por defecto de todos los elementos */
    padding: 0; /* Elimina el padding por defecto de todos los elementos */
    box-sizing: border-box; /* Cambia el modelo de caja para que el padding y el borde estén incluidos en el tamaño del elemento */
    text-decoration: none; /* Elimina las decoraciones de texto (como subrayados) de todos los elementos */
    border: none; /* Elimina los bordes de todos los elementos */
    outline: none; /* Elimina los contornos de todos los elementos */
    scroll-behavior: smooth; /* Hace que el desplazamiento entre los enlaces de anclaje sea suave en lugar de instantáneo */
    font-family: 'Popins', sans-serif; /* Establece la fuente por defecto para todos los elementos */
}

:root{
    --bg-color: #081b29; /* Define una variable de color de fondo para ser utilizada en el documento */
    --second-bg-color: #112e42; /* Define una segunda variable de color de fondo */
    --text-color: #ededed; /* Define una variable de color de texto */
    --main-color: #00abf0; /* Define una variable de color principal */
}

html{
    font-size: 62.5%; /* Establece el tamaño de fuente base para el documento (útil para el uso de rem) */
    overflow-x: hidden; /* Evita el desplazamiento horizontal en el documento */
}

body{
    background: var(--bg-color); /* Establece el color de fondo del cuerpo utilizando la variable definida anteriormente */
    color: var(--text-color); /* Establece el color del texto del cuerpo utilizando la variable definida anteriormente */
}

/* A partir de aquí, las reglas se aplican a clases específicas y utilizan muchas de las mismas propiedades descritas anteriormente. Las propiedades que no se han descrito anteriormente se comentarán en su primera aparición. */

.header{
    position: fixed; /* Fija la posición del encabezado en la parte superior de la página */
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: transparent;
    display: flex; /* Utiliza flexbox para organizar los elementos hijos del encabezado */
    justify-content: space-between; /* Distribuye los elementos hijos del encabezado uniformemente a lo largo del eje horizontal */
    align-items: center; /* Alinea los elementos hijos del encabezado a lo largo del eje vertical */
    z-index: 100; /* Establece el nivel de apilamiento del encabezado para asegurarse de que se muestre por encima de otros elementos */
}

.logo{
    font-size: 2.5rem; /* Establece el tamaño de fuente base para el documento (útil para el uso de rem) */
    color: var(--text-color);
    font-weight: 600;
}

.navbar a{
    font-size: 1.7rem; /* Establece el tamaño de fuente base para el documento (útil para el uso de rem) */
    color: var(--text-color);
    font-weight: 500;
    margin-left: 3.5rem;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active{
    color: var(--main-color);
}

#menu-icon{
    font-size: 3.6rem;
    color: var(--text-color);
    cursor: pointer;
    display: none;
}

section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.home{
    display: flex;
    align-items: center;
    padding: 0 9%;
}

.home-content{
    max-width: 60rem;
}

.home-content h1{
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-content .text-animate{
    position: relative;
    width: 32.8rem;
}

.home-content .text-animate h3{
    font-size: 3.2rem;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: .7px var(--main-color);
}

.home-content p{
    font-size: 1.6rem;
    margin: 2rem 0 4rem;
}

.btn-box{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 34.5rem;
    height: 5rem;
}

.btn-box .btn{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 100%;
    background: var(--main-color);
    border-radius: .8rem;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: .1rem;
    color:var(--bg-color);
    z-index: 2;
    overflow: hidden;
    transition: .5s;
}

.btn-box .btn:hover{
    color: var(--main-color);
}
.btn-box .btn:nth-child(2){
    background: transparent;
    color: var(--main-color);
}
.btn-box .btn:nth-child(2):hover{
    color: var(--bg-color);
}


.btn-box .btn:nth-child(2)::before{
    background: var(--main-color);
}
.btn-box .btn::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--bg-color);
    z-index: -1;
    transition: .5s;
}

.btn-box .btn:hover::before{
    width: 100%;
}