body {
    background: url('./Imagenes/fondo.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.imagen-1 {
    width: 100%; /* Esto hará que la imagen ocupe el 100% del ancho de su contenedor. */
    height: auto; /* Esto mantendrá la proporción de la imagen. */
    object-fit: cover; /* Esto hará que la imagen cubra todo el espacio disponible, recortándola si es necesario. */
    border-radius: 5rem; /* Esto dará a la imagen bordes redondeados. Puedes ajustar el valor según lo redondeado que quieras que sea el borde. */
}

.imagen-2 {
    width: 100%; /* Esto hará que la imagen ocupe el 100% del ancho de su contenedor. */
    height: 33%; /* Esto mantendrá la proporción de la imagen. */
    object-fit: cover; /* Esto hará que la imagen cubra todo el espacio disponible, recortándola si es necesario. */
    border-radius: 5rem; /* Esto dará a la imagen bordes redondeados. Puedes ajustar el valor según lo redondeado que quieras que sea el borde. */
}

.imagen-3 {
    width: 100%; /* Esto hará que la imagen ocupe el 100% del ancho de su contenedor. */
    height: auto; /* Esto mantendrá la proporción de la imagen. */
    object-fit: cover; /* Esto hará que la imagen cubra todo el espacio disponible, recortándola si es necesario. */
    border-radius: 10rem; /* Esto dará a la imagen bordes redondeados. Puedes ajustar el valor según lo redondeado que quieras que sea el borde. */
}

.imagen-4 {
    width: 100%; /* Esto hará que la imagen ocupe el 100% del ancho de su contenedor. */
    height: auto; /* Esto mantendrá la proporción de la imagen. */
    object-fit: cover; /* Esto hará que la imagen cubra todo el espacio disponible, recortándola si es necesario. */
    border-radius: 10rem; /* Esto dará a la imagen bordes redondeados. Puedes ajustar el valor según lo redondeado que quieras que sea el borde. */
}

.imagen-5 {
    width: 100%; /* Esto hará que la imagen ocupe el 100% del ancho de su contenedor. */
    height: 73%; /* Esto mantendrá la proporción de la imagen. */
    object-fit: cover; /* Esto hará que la imagen cubra todo el espacio disponible, recortándola si es necesario. */
    border-radius: 5rem; /* Esto dará a la imagen bordes redondeados. Puedes ajustar el valor según lo redondeado que quieras que sea el borde. */
}

.imagen-7 {
    width: 100%; /* Esto hará que la imagen ocupe el 100% del ancho de su contenedor. */
    height: 83%; /* Esto mantendrá la proporción de la imagen. */
    object-fit: cover; /* Esto hará que la imagen cubra todo el espacio disponible, recortándola si es necesario. */
    border-radius: 7Rem; /* Esto dará a la imagen bordes redondeados. Puedes ajustar el valor según lo redondeado que quieras que sea el borde. */
}

.imagen-8 {
    width: 100%; /* Esto hará que la imagen ocupe el 100% del ancho de su contenedor. */
    height: auto; /* Esto mantendrá la proporción de la imagen. */
    object-fit: cover; /* Esto hará que la imagen cubra todo el espacio disponible, recortándola si es necesario. */
    border-radius: 7rem; /* Esto dará a la imagen bordes redondeados. Puedes ajustar el valor según lo redondeado que quieras que sea el borde. */
}

.imagen-9 {
    width: 100%; /* Esto hará que la imagen ocupe el 100% del ancho de su contenedor. */
    height: auto; /* Esto mantendrá la proporción de la imagen. */
    object-fit: cover; /* Esto hará que la imagen cubra todo el espacio disponible, recortándola si es necesario. */
    border-radius: 7rem; /* Esto dará a la imagen bordes redondeados. Puedes ajustar el valor según lo redondeado que quieras que sea el borde. */
}

.imagen-10 {
    width: 100%; /* Esto hará que la imagen ocupe el 100% del ancho de su contenedor. */
    height: auto; /* Esto mantendrá la proporción de la imagen. */
    object-fit: cover; /* Esto hará que la imagen cubra todo el espacio disponible, recortándola si es necesario. */
    border-radius: 5rem; /* Esto dará a la imagen bordes redondeados. Puedes ajustar el valor según lo redondeado que quieras que sea el borde. */
}

.imagen-11 {
    width: 100%; /* Esto hará que la imagen ocupe el 100% del ancho de su contenedor. */
    height: 100%; /* Esto mantendrá la proporción de la imagen. */
    object-fit: cover; /* Esto hará que la imagen cubra todo el espacio disponible, recortándola si es necesario. */
    border-radius: 5rem; /* Esto dará a la imagen bordes redondeados. Puedes ajustar el valor según lo redondeado que quieras que sea el borde. */
}