/* Clase para aplicar un fondo con la imagen 'Imagen1.jpg' */
.fondo1 {
    /* Establece la imagen de fondo y su posición */
    background: url('.//Imagenes/Imagen1.jpg') no-repeat center center;
    /* Asegura que la imagen de fondo cubra todo el elemento en Chrome y Safari */
    -webkit-background-size: cover;
    /* Asegura que la imagen de fondo cubra todo el elemento en Firefox */
    -moz-background-size: cover;
    /* Asegura que la imagen de fondo cubra todo el elemento en Opera */
    -o-background-size: cover;
    /* Asegura que la imagen de fondo cubra todo el elemento en navegadores estándar */
    background-size: cover;
}

/* Clase para aplicar un fondo con la imagen 'imagen2.jpg' */
.fondo2 {
    background: url('.//Imagenes/imagen2.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* Clase para aplicar un fondo con la imagen 'Imagen1.jpg' */
.fondo3 {
    background: url('.//Imagenes/Imagen1.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* Clase para aplicar un fondo con la imagen 'imagen2.jpg' */
.fondo4 {
    background: url('.//Imagenes/imagen2.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* Clase para aplicar un fondo con la imagen 'Imagen2.jpg' */
.fondo5 {
    background: url('.//Imagenes/Imagen2.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* Clase para aplicar un fondo con la imagen 'Imagen1.jpg' */
.fondo6 {
    background: url('.//Imagenes/Imagen1.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
